body{
    height: clamp(667px,100vh,1280px);
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    font-family: "Barlow Semi Condensed", sans-serif; 
}
.top{
    display: flex;
    justify-content: center;
}
.top-bar{
    width: clamp(200px, 80vw, 400px);
    height: 15vh;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
}
.top-bar__text{
    color: white;
    font-weight: 700;
    font-size: 30px;
}
.top-bar__text p{
    margin: 0;
}
.top-bar__score{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.top-bar__score .text{
    text-align: center;
    color: hsl(229, 64%, 46%);
    font-size: 14px;
    font-weight:400;
    margin: 0;
}
.top-bar__score .points{
    margin: 0;
    padding: 0;
    text-align: center;
    color: hsl(229, 25%, 31%);
    font-size: 50px;
    font-weight: 600;
}
.rules{
    position:absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 0 30px 20px 0;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 5px;
}
.rules .rules-button{
    padding: 5px 20px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}
.rules .rules-button:hover {
    cursor: pointer;
    background-color: hsla(217, 16%, 45%, 0.226);
}
.container-rules{
    background-color: rgb(255, 255, 255);
    /*display: none;*/
}